.DS_Store

question_backend/application/cache/*
!question_backend/application/cache/index.html

question_backend/application/logs/*
!question_backend/application/logs/index.html

!question_backend/application/*/.htaccess

question_backend/application/config/config.php

question_backend/application/config/database.php


composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
